html,
body {
  width: 100%;
}
.nav {
  height: 1.067rem;
  font-size: 18px;
  text-align: center;
  background-color: #1e2025;
  padding: 6px;
  box-sizing: border-box;
}
.arrow-left {
  border: 1px solid #fff;
}
