$weuiBtnFontColor = #fff
$weuiBtnFontSize = 18px
$weuiBtnHeight = 46px
$weuiBtnBorderRadius = 5px
$weuiBtnPrimaryBg = #1AAD19;
$weuiBtnActiveFontColor = rgba(255,255,255,.6)
$weuiBtnActivePrimaryBg = #179
