@import "px2rem.scss";

//颜色和字体标准

//颜色
//1-4
$C1: #c9bc9c;
$C2: #a48b78;
$C3: #e72714;
$C4: #333333;
//5-8
$C5: #000000;
$C6: #666666;
$C7: #999999;
$C8: #e5e5e5;
//8-10
$C9: #eeeeee;
$C10: #f4f4f4;
$C11: #fff;

// 11 -
$colorBg: #dddddd;

//字体
$H1: px2rem(36);
$H2: px2rem(34);
$H3: px2rem(32);
$H4: px2rem(30);
$H5: px2rem(28);
$H6: px2rem(26);
$H7: px2rem(24);
$H8: px2rem(20);

// 新的标准的颜色
$BC1: #e72714;
$BC2: #dbdbdb;
$BC3: #333333;
$BC4: #666666;
$BC5: #999999;
$BC6: #e5e5e5;
$BC7: #f4f4f4;
$BC8: #E72714;
$BC9: #ff911d;
$BC10: #E72714;
$BC11: #18191a;
$BC12: #1A1A1A;
$BC13: #EF2B2F;

//新的标准的字体
$TH1: px2rem(58px);
$TH2: px2rem(36px);
$TH3: px2rem(34px);
$TH4: px2rem(32px);
$TH5: px2rem(30px);
$TH6: px2rem(28px);
$TH7: px2rem(26px);
$TH8: px2rem(24px);
$TH9: px2rem(20px);
